<div class="row mt-5 mx-5">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Employee List</div>
      <div class="card-body">
        <app-employee-list [employees]="employees" (employeeSelected)='selected($event)'></app-employee-list>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">Detail</div>
      <div class="card-body">
        <app-employee-detail [employee]="employee"></app-employee-detail>
      </div>
    </div>


  </div>
</div>
